.loading-container {
  width: 100%;
  justify-content: center;
  display: flex;
  margin: 15px 0;
}

.loading-container span {
  margin-left: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: #828282;
}

.loading-size {
  width: 20px;
  height: 20px;
}
