.character-item-container {
  border-radius: 10px;
  transition: background-color 100ms ease-in-out;
}
.character-item-container:focus,
.character-item-container:hover {
  outline: none;
  background-color: rgba(212, 211, 211, 0.5);
  cursor: pointer;
}
.character-item {
  background-color: transparent;
  border: 0;
  width: 100%;
  height: 69px;
  padding: 0 4% 0 0;
  display: grid;
  grid-template-columns: 1fr 30px;
  justify-content: space-between;
  border-bottom: 1px solid #d4d3d3;
}

.arrow-icon {
  display: flex;
  scale: 1.3;
  margin: auto;
}

.character-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto 0;
  align-items: start;
}

.character-info h3 {
  font-size: 1.03rem;
  line-height: 1.3;
  color: #333333;
}

.character-info p {
  color: #828282;
}
