* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.rick-and-morty-app {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  display: grid;
  grid-template-rows: 51px 1fr;
}
.app-header {
  display: flex;
  align-items: center;
  padding-left: 32px;
  background-color: black;
  color: #f2f2f2;
}
.app-header h1 {
  word-spacing: -1px;
  letter-spacing: 0.4px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.app-content {
  display: grid;
  grid-template-columns: 25% 1fr;
}

.sidebar-container {
  max-width: 350px;
  min-height: calc(100dvh - 52px);
  overflow: hidden;
  padding: 0 0 0 4%;
  border-right: 1px solid #d4d3d3;
}

.main-container {
  max-height: calc(100dvh - 52px);
  overflow: hidden;
}

@media (max-width: 1024px) {
  .app-content {
    grid-template-columns: 50px 1fr;
  }
}

@media (min-width: 1440px) {
  .app-content {
    grid-template-columns: 350px 1fr;
  }
}
