.character-details-container {
  margin-top: 35px;
  padding: 0 100px 0 119px;
  max-width: 1400px;
}

.character-details-container h2 {
  width: 100%;
  text-align: start;
  color: #333333;
  font-size: 1rem;
  margin: 20px 0;
}
.character-details-table {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.image-row {
  height: 100%;
  border: 0;
}

.image-row img {
  width: 200px;
}

tr {
  height: 25px;
  padding: 0 20px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  border-bottom: 1px solid #d4d3d3;
  margin-bottom: 20px;
}

tr :first-child {
  color: #828282;
  font-weight: bold;
}

tr :not(:first-child) {
  font-weight: bold;
  color: #333333;
}

.character-image {
  transition: opacity 0.2s ease;
}

.character-image.loading {
  opacity: 0.5;
}

.character-image.loaded {
  opacity: 1;
}

@media (max-width: 1026px) {
  .character-details-container {
    padding: 0 20%;
  }

  .image-row img {
    width: 150px;
  }
}

@media (max-width: 678px) {
  .character-details-container {
    padding: 0 5%;
  }
}
.character-details-placeholder {
  font-size: medium;
  color: #828282;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
